.note{
    font-size: 15px;
    color: black;
}

.disk{
    width: 200px;
    border-radius:100% ;
}
#speed{
    float: left;
}
#volume{
    float:right
}

.heading{
    font-size: 23px;
    width: 100%;
    margin: 0%;
}

canvas{
border: white 10px solid;
border-radius: 10px;
}